.footertext{
    padding-top: 40px;
    color: white;
    float: left;
    text-align: left;
  }

  .footertextright{
    color: white;
    text-align: center;
  }



  .footer-copyright {
      color:white;
  }

  .text-uppercase {
      color: white;
  }

.menufooter {
    padding-left: 80px;
}

.row {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

  .footerimg {
        width:50%;
        height:auto;
        max-width:100%;
        max-height:100%;
    }
      .img-wrap{
        float:left;
        width:20%;
        margin-right:2%;
      }
      .descfooter{
        float:right;
        width:100%;
      }
      .descfooter p{
        margin-top:0;
      }
      .clear{
        clear:both;
      }


    .page-footer {
      background-color: rgba(0, 85, 150,1);


    }
  li {
      text-decoration: none;
      color: white;
  }

.limenu {padding-bottom: 12px;}

  a{
      text-decoration: none;
      color: white;
  }



  .emailphone {
      padding-top: 30px;
      padding-left: 80px;
  }


  .footermenu {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  .page-footer{
    float: bottom;
  }


  .footerImage{
    float: left;
  }
