

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


      <!-- Grid column -->
      <div class="col-md-2 mt-md-0 mt-6">

        
              
        <a routerLink="">
                <img class="footerimg"  src="assets/betterFuture.png" alt="Logo footer">
              </a>

      

          </div>


            <div class="col-md-4 mt-md-0 mt-6">
            <div class="descfooter">
              <p class="footertext">Your involvement is critical to our success and making change in our enviroment. 
                Share this page with your family and friends.</p>
                <br><br><p class="footertextright">Thanks for the suport!</p>
            </div>
            <div class="clear"></div>
          





      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Contact us</h5>

          <ul class="list-unstyled">
            <li class="check">
               <p><mat-icon class="menu-icon">home</mat-icon>Roskildevej 29<br> 1500 Copenhagen V <br> Denmark</p>
            </li>
            <li>
              <p> <mat-icon class="menu-icon">email</mat-icon>betterfuture@foundation.com</p>
            </li>
            <li>
              <p> <mat-icon class="menu-icon">call</mat-icon> + 45 50 51 52 53</p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">MENU</h5>

          <ul class="list-unstyled">
            <li class="limenu">
              <a routerLink="">Home</a>
            </li>
            <li class="limenu">
              <a routerLink="/learn">Learn</a>
            </li>
            <li class="limenu">
              <a routerLink="/quiz">Quiz</a>
            </li>
            <li class="limenu">
              <a routerLink="/shop">Shop</a>
            </li>
            <li class="limenu">
              <a routerLink="/cart">Cart</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->









