.footertext{
    padding-top: 30px;
    color: white;
  }

  .footer-copyright {
      color:white;
  }

  .text-uppercase {
      color: white;
  }

.menufooter {
    padding-left: 80px;
}

  .footerimg {
      width: 6rem;
    height: 9rem;
      margin-top: -5px;
    }


    .page-footer {
      background-color: rgba(0, 85, 150,1);


    }
  li {
      text-decoration: none;
      color: white;
  }

  a{
      text-decoration: none;
      color: white;
  }



  .emailphone {
      padding-top: 30px;
      padding-left: 80px;
  }

