<div class="grid" >

  <mat-card class="featurecard" routerLink="sign_up" >


    <mat-card-title> Signup </mat-card-title>

    <img mat-card-image  src="assets/images/signup.png"
    class="featureimg">


    <mat-card-subtitle>Sign up to shop from eco-friendly catalog. We donate 40% of the profit!</mat-card-subtitle>

  </mat-card>


  <mat-card class="featurecard" routerLink="learn" >


    <mat-card-title> Learn </mat-card-title>

    <img mat-card-image  src="assets/images/learn.png"
    class="featureimg">


    <mat-card-subtitle>Check our articles about the problems facing our planet.</mat-card-subtitle>

  </mat-card>

  <mat-card class="featurecard" routerLink="quiz">


    <mat-card-title> Quiz </mat-card-title>

    <img mat-card-image  src="assets/images/quiz.png"
    class="featureimg">


    <mat-card-subtitle>Test yourself! Can you identify what helps the environment?</mat-card-subtitle>

  </mat-card>


  <mat-card class="featurecard" routerLink="shop" >


    <mat-card-title> Shop </mat-card-title>

    <img mat-card-image  src="assets/images/bonus.png"
    class="featureimg">


    <mat-card-subtitle>Find products made out of reusable materials that help us produce less waste!</mat-card-subtitle>

  </mat-card>



  </div>



