

  <div class="grid">

  <mat-card class="featurecard" >


    <mat-card-title> Signup </mat-card-title>

    <img mat-card-image  src="assets/images/signup.png"
    class="featureimg">
  
    
    <mat-card-subtitle>Sign up to get acces to our learning materials. It's free!</mat-card-subtitle>
  
  </mat-card>


  <mat-card class="featurecard" >


    <mat-card-title> Learn </mat-card-title>

    <img mat-card-image  src="assets/images/learn.png"
    class="featureimg">
  
    
    <mat-card-subtitle>Gain knowledge about environment from our articles and videos.</mat-card-subtitle>
  
  </mat-card>

  <mat-card class="featurecard" >


    <mat-card-title> Quiz </mat-card-title>

    <img mat-card-image  src="assets/images/quiz.png"
    class="featureimg">
  
    
    <mat-card-subtitle>Test yourself! See how much you know and of course have fun!</mat-card-subtitle>
  
  </mat-card>


  <mat-card class="featurecard" >


    <mat-card-title> Bonus </mat-card-title>

    <img mat-card-image  src="assets/images/bonus.png"
    class="featureimg">
  
    
    <mat-card-subtitle>Get 20% discount of all our eco-friendly produtcs in shop.</mat-card-subtitle>
  
  </mat-card>



  </div>



  