<div class="test">
  <mat-card class="thankscard">

    <mat-card-subtitle>Select the answer you want to pick and move the mouse cursor to the empty box on the right. Release the mouse button to drop the answer. </mat-card-subtitle>
<div class="example-container">
  <mat-card-title>Answers</mat-card-title>

  <div
    id="all"
    cdkDropList
    [cdkDropListData]="answers"
    cdkDropListConnectedTo="question"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="noReturnPredicate">
    <div
      class="example-box"
      *ngFor="let number of answers"
      [cdkDragData]="answers"
      cdkDrag>{{ number }}</div>
  </div>
</div>

<div class="example-container2">
  <mat-card-title>Ways to help the environment</mat-card-title>

  <div
    id="question"
    cdkDropList
    [cdkDropListData]="submitted"
    cdkDropListConnectedTo="all"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="">
    <div
      class="example-box"
      *ngFor="let number of submitted"
      cdkDrag>{{number}}</div>
     
  </div>
  <mat-card-actions>
    <button class="submit" mat-raised-button (click)="submit()">Submit</button>
  </mat-card-actions>
</div>
</mat-card>
</div>