<div class="test">




    <mat-card class="thankscard">

        <mat-card class="articlewhite">

            <img src="assets/images/thankslogo.png" class="thanksimg">

            <mat-card-title>Thanks for buying out products!</mat-card-title>
            <div class="col-md-5 mt-md-0 mt-3">

            </div>
           
            <mat-card-subtitle class="thankstext">Your involvement is critical to our success and making change in our
                enviroment. <br>Share this page with your family and friends.
                Thanks for the suport! </mat-card-subtitle>


            

            <br>
           
          


            <mat-card-actions>
                <button class="quiz" mat-raised-button>Continue shopping</button>
            </mat-card-actions>


        </mat-card>

    </mat-card>