<mat-tab-group mat-align-tabs="center">

    <mat-tab label="Water pollution">

        <div class="row">

            <mat-card class="articlecard col-md-8 mt-md-0 mt-3">


                <mat-card-title> Water Pollution: Everything You Need to Know</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">Our rivers, reservoirs, lakes, and seas are drowning in
                    chemicals, waste, plastic,
                    and other pollutants. Here’s why―and what you can do to help. Water pollution kills. In fact, it
                    caused 1.8 million deaths in 2015, according to a study published in The Lancet. Contaminated
                    water
                    can also make you ill. Every year, unsafe water sickens about 1 billion people. And low-income
                    communities are disproportionately at risk because their homes are often closest to the most
                    polluting industries. </mat-card-subtitle>


                <img src="assets/images/water.jpg" alt="Water Pollution" class="articleimg">

                <br>
                <mat-card-title> What Is Water Pollution?</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">
                    Water pollution occurs when harmful substances—often chemicals or microorganisms—contaminate a
                    stream, river, lake, ocean, aquifer,
                    or other body of water, degrading water quality and rendering it toxic to humans or the
                    environment.

                    Water is uniquely vulnerable to pollution. Known as a “universal solvent,” water is able to
                    dissolve
                    more substances than any other liquid on earth.
                    It’s the reason we have Kool-Aid and brilliant blue waterfalls. It’s also why water is so easily
                    polluted.
                    Toxic substances from farms, towns, and factories readily dissolve into and mix with it, causing
                    water pollution.

                    When rain falls and seeps deep into the earth, filling the cracks, crevices, and porous spaces
                    of an
                    aquifer (basically an underground storehouse of water), it becomes groundwater—one of our least
                    visible but most important natural resources. Nearly 40 percent of Americans rely on
                    groundwater,
                    pumped to the earth’s surface, for drinking water. For some folks in rural areas, it’s their
                    only
                    freshwater source. Groundwater gets polluted when contaminants—from pesticides and fertilizers
                    to
                    waste leached from landfills and septic systems—make their way into an aquifer, rendering it
                    unsafe
                    for human use. Ridding groundwater of contaminants can be difficult to impossible, as well as
                    costly. Once polluted, an aquifer may be unusable for decades, or even thousands of years.
                    Groundwater can also spread contamination far from the original polluting source as it seeps
                    into
                    streams, lakes, and oceans.

                </mat-card-subtitle>

                <br>

                <mat-card-title>What Are the Causes of Water Pollution?</mat-card-title>

                <mat-card-subtitle class="articletext">
                    Water pollution occurs when harmful substances—often chemicals or microorganisms—contaminate a
                    stream, river, lake, ocean, aquifer,
                    or other body of water, degrading water quality and rendering it toxic to humans or the
                    environment.

                    Water is uniquely vulnerable to pollution. Known as a “universal solvent,” water is able to
                    dissolve
                    more substances than any other liquid on earth.
                    It’s the reason we have Kool-Aid and brilliant blue waterfalls. It’s also why water is so easily
                    polluted.
                    Toxic substances from farms, towns, and factories readily dissolve into and mix with it, causing
                    water pollution.

                    When rain falls and seeps deep into the earth, filling the cracks, crevices, and porous spaces
                    of an
                    aquifer (basically an underground storehouse of water), it becomes groundwater—one of our least
                    visible but most important natural resources. Nearly 40 percent of Americans rely on
                    groundwater,
                    pumped to the earth’s surface, for drinking water. For some folks in rural areas, it’s their
                    only
                    freshwater source. Groundwater gets polluted when contaminants—from pesticides and fertilizers
                    to
                    waste leached from landfills and septic systems—make their way into an aquifer, rendering it
                    unsafe
                    for human use. Ridding groundwater of contaminants can be difficult to impossible, as well as
                    costly. Once polluted, an aquifer may be unusable for decades, or even thousands of years.
                    Groundwater can also spread contamination far from the original polluting source as it seeps
                    into
                    streams, lakes, and oceans.

                </mat-card-subtitle>

                <mat-card-actions>
                    <button class="quiz" mat-raised-button routerLink="/quiz">Test yourself</button>
                </mat-card-actions>


            </mat-card>

            <div class="right">
                <mat-card class="featurecard" routerLink="/quiz">


                    <mat-card-title class="featuretext">Make Quiz</mat-card-title>

                    <img mat-card-image src="assets/images/quiz.png" alt="Make Quiz icon" class="featureimg">


                    <mat-card-subtitle>Test yourself! Can you identify what helps the environment?</mat-card-subtitle>

                </mat-card>

                <br>

                <mat-card class="featurecard">


                    <mat-card-title>5 Things You Can Do To Reduce Water Pollution</mat-card-title>

                    <img mat-card-image src="assets/images/tip.png" alt="Tip icon"class="featureimg">


                    <mat-card-subtitle class="factstext">1. <span style="color: #ef412a">DO NOT</span> pour fat from
                        cooking or any other type of fat, oil, or grease down the sink.
                        <br>
                        <br>
                        2. <span style="color: #ef412a">DO NOT</span> dispose of household chemicals or cleaning agents
                        down the sink or toilet.
                        <br>
                        <br>
                        3. <span style="color: #ef412a">DO NOT</span> flush pills, liquid or powder medications or drugs
                        down the toilet.
                        <br>
                        <br>
                        4. Run the dishwasher or clothes washer only when you have a full load.
                        <br>
                        <br>
                        5. Use the minimum amount of detergent and/or bleach when you are washing clothes or dishes.
                    </mat-card-subtitle>

                </mat-card>

            </div>


        </div>




    </mat-tab>




    <mat-tab label="Climate change">

        <div class="row">

            <mat-card class="articlecard col-md-8 mt-md-0 mt-3">


                <mat-card-title> Climate change: Everything You Need to Know</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">Atmospheric carbon dioxide concentrations are higher today than
                    at any time in at least the past 650,000 years. They are about 35% higher than before the industrial
                    revolution, and this increase is caused by human activities, primarily the burning of fossil fuels.
                    Carbon dioxide is a greenhouse gas, as are methane, nitrous oxide, water vapor, and a host of other
                    trace gases. They occur naturally in the atmosphere. Greenhouse gases act like a blanket for
                    infrared radiation, retaining radiative energy near the surface that would otherwise escape directly
                    to space. An increase in atmospheric concentrations of carbon dioxide and of other greenhouse gases
                    augments the natural greenhouse effect; it increases the radiative energy available to Earth’s
                    surface and to the lower atmosphere. Unless compensated for by other processes, the increase in
                    radiative energy available to the surface and the lower atmosphere leads to warming.
                </mat-card-subtitle>


                <img src="assets/images/climate.jpg" alt="CLimate Change" class="articleimg">

                <br>
                <mat-card-title> What Is Climate Change?</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">
                    Climate change is a change in the pattern of weather, and related
                    changes in oceans, land surfaces and ice sheets, occurring over time scales of decades or longer.
                    Weather is the state of the atmosphere—its temperature, humidity, wind, rainfall and so on—over
                    hours to weeks. It is influenced by the oceans, land surfaces and ice sheets, which together with
                    the atmosphere form what is called the ‘climate system’. Climate, in its broadest sense, is the
                    statistical description of the state of the climate system.

                    The Intergovernmental Panel on Climate Change (IPCC) Special Report on Global Warming highlights
                    climate impacts at the current ~1°C global warming as well as the risks of reaching a 1.5°C and the
                    irreversible losses that would take place at 2°C or more warming. We need political leadership to
                    immediately cut emissions across all sectors of the economy, in order to limit warming to 1.5°C.
                    Global warming is likely to be the greatest cause of species extinctions this century. The IPCC says
                    a 1.5°C average rise may put 20-30% of species at risk of extinction. If the planet warms by more
                    than 2°C, most ecosystems will struggle.
                    Many of the world’s threatened species live in areas that will be severely affected by climate
                    change. And climate change is happening too quickly for many species to adapt.

                </mat-card-subtitle>

                <br>

                <mat-card-title>What Are the Causes of Climate Change?</mat-card-title>

                <mat-card-subtitle class="articletext">
                    Life on Earth is possible because of the warmth of the sun. While some of this incoming solar
                    radiation bounces back into space, a small portion of it is trapped by the delicate balance of gases
                    that make up our atmosphere. Without this layer of insulation, Earth would simply be another frozen
                    rock hurtling through space. Carbon dioxide (CO2) is the most important gas in this layer of
                    insulation.

                    Carbon is stored all over the planet — in plants, soil, the ocean, and even us. We release it into
                    the atmosphere as carbon dioxide through activities such as burning fossil fuels (coal, oil and gas)
                    and cutting down trees. As a result, today’s atmosphere contains 42 per cent more carbon dioxide
                    than it did before the industrial era.

                    We have released so much carbon dioxide and other greenhouse gases that our planet’s atmosphere is
                    now like a thick, heat-trapping blanket. By disrupting the atmospheric balance that keeps the
                    climate stable, we are now seeing extreme effects around the globe. It’s like a thermostat that’s
                    gone haywire — it just doesn’t work the way it should. The result: the climate changes, and it gets
                    warmer. Extreme weather events also become more common.
                    Global warming has already begun. Since 1900, the global average temperature has risen by 0.7
                    degrees Celsius, and the northern hemisphere is substantially warmer than at any point during the
                    past 1,000 years.

                </mat-card-subtitle>

                <mat-card-actions>
                    <button class="quiz" mat-raised-button routerLink="/quiz">Test yourself</button>
                </mat-card-actions>


            </mat-card>

            <div class="right">
                <mat-card class="featurecard" routerLink="/quiz">


                    <mat-card-title class="featuretext">Make Quiz</mat-card-title>

                    <img mat-card-image src="assets/images/quiz.png" alt="Make quiz icon" class="featureimg">


                    <mat-card-subtitle>Test yourself! Can you identify what helps the environment?</mat-card-subtitle>

                </mat-card>

                <br>

                <mat-card class="featurecard">


                    <mat-card-title>5 Things You Can Do To Prevent Climate Change</mat-card-title>

                    <img mat-card-image src="assets/images/tipclimate.png"  alt="Tip icon"class="featureimg">


                    <mat-card-subtitle class="factstext">1. Be sure to collect your discarded paper, glass, plastic, and
                        electronics to your local recycling center.
                        <br>
                        <br>
                        2. Be more conservative with energy usage (save money too).
                        <br>
                        <br>
                        3. Eat for a climate-stable planet. Eat more meat-free meals and <span style="color: #ef412a">DO
                            NOT</span> waste food.
                        <br>
                        <br>
                        4. Support or join youth-led movements - educate yourself and others.
                        <br>
                        <br>
                        5. Invest in renewables and divest from fossil fuels.
                    </mat-card-subtitle>

                </mat-card>

            </div>


        </div>




    </mat-tab>






    <mat-tab label="Recycling">

        <div class="row">

            <mat-card class="articlecard col-md-8 mt-md-0 mt-3">


                <mat-card-title> Recycling: Everything You Need to Know</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">You drink a Coca-Cola, throw the bottle into the recycling, put
                    the bins out on collection day and forget about it. But it doesn’t disappear. Everything you own
                    will one day become the property of this, the waste industry, a £250bn global enterprise determined
                    to extract every last penny of value from what remains.
                </mat-card-subtitle>


                <img src="assets/images/recycling.jpg"  alt="Recycling" class="articleimg">

                <br>
                <mat-card-title> What Is Recycling?</mat-card-title>
                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <mat-card-subtitle class="articletext">
                    Recycling is the process of converting waste materials into new materials and objects. The
                    recyclability of a material depends on its ability to reacquire the properties it had in its
                    virgin state. It is an alternative to "conventional" waste disposal that can save material
                    and help lower greenhouse gas emissions. Recycling can prevent the waste of potentially useful
                    materials and reduce the consumption of fresh raw materials, thereby reducing: energy usage, air
                    pollution (from incineration), and water pollution (from landfilling). Recycling has been a
                    common practice for most of human history, with recorded advocates as far back as Plato in the
                    fourth century BC.[citation needed] During periods when resources were scarce and hard to come
                    by, archaeological studies of ancient waste dumps show less household waste (such as ash, broken
                    tools, and pottery)—implying more waste was being recycled in the absence of new material.

                </mat-card-subtitle>

                <br>

                <mat-card-title>How Do I Recycle?</mat-card-title>

                <mat-card-subtitle class="articletext">
                    Paper makes up 25 percent of municipal solid waste (trash) generated each year, more than any
                    other material. Americans recycled nearly 66 percent of the paper they used in 2017. This
                    recovered paper is used to make new paper products, saving trees and other natural resources.
                    Most community or office recycling programs accept paper and paper products. Check what your
                    community or office program accepts before you put it in the bin. When you go shopping, look for
                    products that are made from recycled paper. More than 35 million tons of plastics were generated
                    in the United States in 2017, which was greater than 13 percent of the waste stream. Only 8.4
                    percent of plastics were recycled in 2017. Some types of plastics are recycled much more than
                    others. Most community recycling programs accept some, but not all, types of plastics. Look for
                    products made from recycled plastic materials.
                </mat-card-subtitle>

                <mat-card-actions>
                    <button class="quiz" mat-raised-button routerLink="/quiz">Test yourself</button>
                </mat-card-actions>


            </mat-card>

            <div class="right">
                <mat-card class="featurecard" routerLink="/quiz">


                    <mat-card-title class="featuretext">Make Quiz</mat-card-title>

                    <img mat-card-image src="assets/images/quiz.png"  alt="Make quiz icon" class="featureimg">


                    <mat-card-subtitle>Test yourself! Can you identify what helps the environment?</mat-card-subtitle>

                </mat-card>

                <br>

                <mat-card class="featurecard">


                    <mat-card-title>5 Things You Can Recycle</mat-card-title>

                    <img mat-card-image src="assets/images/tiprecycling.png"  alt="Tip icon" class="featureimg">


                    <mat-card-subtitle class="factstext">1. Rigid Plastics/Bottles.
                        <br> - Any plastic bottles or containers found in your kitchen<br>
                        <br>
                        2. Paper and Cardboard. <br>
                        - Cereal/snack cardboard boxes <br>
                        - Phonebooks, magazines, and mail <br>
                        - Office Paper, newspaper, and cardboard
                        <br>
                        <br>
                        3. Metals <br>
                        - Tin, aluminum, and steel cans
                        <br>
                        <br>
                        4. Glass. <br>
                        - Food containers or jars <br>
                        - Soft drink and beer bottles <br>
                        - Wine and liquor bottles <br>
                        <br>

                        5. Batteries and bulbs.
                    </mat-card-subtitle>

                </mat-card>

            </div>


        </div>




    </mat-tab>













</mat-tab-group>
