<div class="test">
    <mat-tab-group mat-align-tabs="left">

        <mat-tab label="Water pollution">



            <mat-card class="articlecard">

                <mat-card class="articlewhite">
                    <mat-card-title> Water Pollution: Everything You Need to Know</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">Our rivers, reservoirs, lakes, and seas are drowning in
                        chemicals, waste, plastic,
                        and other pollutants. Here’s why―and what you can do to help. Water pollution kills. In fact, it
                        caused 1.8 million deaths in 2015, according to a study published in The Lancet. Contaminated
                        water
                        can also make you ill. Every year, unsafe water sickens about 1 billion people. And low-income
                        communities are disproportionately at risk because their homes are often closest to the most
                        polluting industries. </mat-card-subtitle>


                    <img src="assets/images/water.jpg" class="articleimg">

                    <br>
                    <mat-card-title> What Is Water Pollution?</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">
                        Water pollution occurs when harmful substances—often chemicals or microorganisms—contaminate a
                        stream, river, lake, ocean, aquifer,
                        or other body of water, degrading water quality and rendering it toxic to humans or the
                        environment.

                        Water is uniquely vulnerable to pollution. Known as a “universal solvent,” water is able to
                        dissolve
                        more substances than any other liquid on earth.
                        It’s the reason we have Kool-Aid and brilliant blue waterfalls. It’s also why water is so easily
                        polluted.
                        Toxic substances from farms, towns, and factories readily dissolve into and mix with it, causing
                        water pollution.

                        When rain falls and seeps deep into the earth, filling the cracks, crevices, and porous spaces
                        of an
                        aquifer (basically an underground storehouse of water), it becomes groundwater—one of our least
                        visible but most important natural resources. Nearly 40 percent of Americans rely on
                        groundwater,
                        pumped to the earth’s surface, for drinking water. For some folks in rural areas, it’s their
                        only
                        freshwater source. Groundwater gets polluted when contaminants—from pesticides and fertilizers
                        to
                        waste leached from landfills and septic systems—make their way into an aquifer, rendering it
                        unsafe
                        for human use. Ridding groundwater of contaminants can be difficult to impossible, as well as
                        costly. Once polluted, an aquifer may be unusable for decades, or even thousands of years.
                        Groundwater can also spread contamination far from the original polluting source as it seeps
                        into
                        streams, lakes, and oceans.

                    </mat-card-subtitle>

                    <br>

                    <mat-card-title>What Are the Causes of Water Pollution?</mat-card-title>

                    <mat-card-subtitle class="articletext">
                        Water pollution occurs when harmful substances—often chemicals or microorganisms—contaminate a
                        stream, river, lake, ocean, aquifer,
                        or other body of water, degrading water quality and rendering it toxic to humans or the
                        environment.

                        Water is uniquely vulnerable to pollution. Known as a “universal solvent,” water is able to
                        dissolve
                        more substances than any other liquid on earth.
                        It’s the reason we have Kool-Aid and brilliant blue waterfalls. It’s also why water is so easily
                        polluted.
                        Toxic substances from farms, towns, and factories readily dissolve into and mix with it, causing
                        water pollution.

                        When rain falls and seeps deep into the earth, filling the cracks, crevices, and porous spaces
                        of an
                        aquifer (basically an underground storehouse of water), it becomes groundwater—one of our least
                        visible but most important natural resources. Nearly 40 percent of Americans rely on
                        groundwater,
                        pumped to the earth’s surface, for drinking water. For some folks in rural areas, it’s their
                        only
                        freshwater source. Groundwater gets polluted when contaminants—from pesticides and fertilizers
                        to
                        waste leached from landfills and septic systems—make their way into an aquifer, rendering it
                        unsafe
                        for human use. Ridding groundwater of contaminants can be difficult to impossible, as well as
                        costly. Once polluted, an aquifer may be unusable for decades, or even thousands of years.
                        Groundwater can also spread contamination far from the original polluting source as it seeps
                        into
                        streams, lakes, and oceans.

                    </mat-card-subtitle>

                    <mat-card-actions>
                        <button class="quiz" mat-raised-button>Make Quiz</button>
                    </mat-card-actions>


                </mat-card>

            </mat-card>


        </mat-tab>







        <mat-tab label="Global warming">

            <mat-card class="articlecard">

                <mat-card class="articlewhite">
                    <mat-card-title> Global warming: Everything You Need to Know</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">The planet is warming, from North Pole to South Pole. Since
                        1906, the global average surface temperature has increased by more than 1.6 degrees Fahrenheit
                        (0.9 degrees Celsius)—even more in sensitive polar regions. And the impacts of rising
                        temperatures aren’t waiting for some far-flung future–the effects of global warming are
                        appearing right now. The heat is melting glaciers and sea ice, shifting precipitation patterns,
                        and setting animals on the move. </mat-card-subtitle>


                    <img src="assets/images/climate.jpg" class="articleimg">

                    <br>
                    <mat-card-title> What Is Global Warming</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">
                        Many people think of global warming and climate change as synonyms, but scientists prefer to use
                        “climate change” when describing the complex shifts now affecting our planet’s weather and
                        climate systems. Climate change encompasses not only rising average temperatures but also
                        extreme weather events, shifting wildlife populations and habitats, rising seas, and a range of
                        other impacts. All of these changes are emerging as humans continue to add heat-trapping
                        greenhouse gases to the atmosphere.
                        When rain falls and seeps deep into the earth, filling the cracks, crevices, and porous spaces
                        of an
                        aquifer (basically an underground storehouse of water), it becomes groundwater—one of our least
                        visible but most important natural resources. Nearly 40 percent of Americans rely on
                        groundwater,
                        pumped to the earth’s surface, for drinking water. For some folks in rural areas, it’s their
                        only
                        freshwater source. Groundwater gets polluted when contaminants—from pesticides and fertilizers
                        to
                        waste leached from landfills and septic systems—make their way into an aquifer, rendering it
                        unsafe
                        for human use. Ridding groundwater of contaminants can be difficult to impossible, as well as
                        costly. Once polluted, an aquifer may be unusable for decades, or even thousands of years.
                        Groundwater can also spread contamination far from the original polluting source as it seeps
                        into
                        streams, lakes, and oceans.

                    </mat-card-subtitle>

                    <br>

                    <mat-card-title>What Are the Causes of Global warming?</mat-card-title>

                    <mat-card-subtitle class="articletext">
                        Global warming occurs when carbon dioxide (CO2) and other air pollutants and greenhouse gases
                        collect in the atmosphere and absorb sunlight and solar radiation that have bounced off the
                        earth’s surface. Normally, this radiation would escape into space—but these pollutants, which
                        can last for years to centuries in the atmosphere, trap the heat and cause the planet to get
                        hotter. That's what's known as the greenhouse effect.
                        In the United States, the burning of fossil fuels to make electricity is the largest source of
                        heat-trapping pollution, producing about two billion tons of CO2 every year. Coal-burning power
                        plants are by far the biggest polluters. The country’s second-largest source of carbon pollution
                        is the transportation sector, which generates about 1.7 billion tons of CO2 emissions a year.
                        Curbing dangerous climate change requires very deep cuts in emissions, as well as the use of
                        alternatives to fossil fuels worldwide. The good news is that we’ve started a turnaround: CO2
                        emissions in the United States actually decreased from 2005 to 2014, thanks in part to new,
                        energy-efficient technology and the use of cleaner fuels. And scientists continue to develop new
                        ways to modernize power plants, generate cleaner electricity, and burn less gasoline while we
                        drive. The challenge is to be sure these solutions are put to use and widely adopted.
                    </mat-card-subtitle>

                    <mat-card-actions>
                        <button class="quiz" mat-raised-button>Make Quiz</button>
                    </mat-card-actions>


                </mat-card>

            </mat-card>

        </mat-tab>

















        <mat-tab label="Recycling">



            <mat-card class="articlecard">

                <mat-card class="articlewhite">
                    <mat-card-title> Recycling: Everything You Need to Know</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">The planet is warming, from North Pole to South Pole. Since
                        1906, the global average surface temperature has increased by more than 1.6 degrees Fahrenheit
                        (0.9 degrees Celsius)—even more in sensitive polar regions. And the impacts of rising
                        temperatures aren’t waiting for some far-flung future–the effects of global warming are
                        appearing right now. The heat is melting glaciers and sea ice, shifting precipitation patterns,
                        and setting animals on the move. </mat-card-subtitle>


                    <img src="assets/images/recycling.jpg" class="articleimg">

                    <br>
                    <mat-card-title> What Is Recycling?</mat-card-title>
                    <div class="col-md-5 mt-md-0 mt-3">

                    </div>

                    <mat-card-subtitle class="articletext">
                        Recycling is the process of converting waste materials into new materials and objects. The
                        recyclability of a material depends on its ability to reacquire the properties it had in its
                        virgin state. It is an alternative to "conventional" waste disposal that can save material
                        and help lower greenhouse gas emissions. Recycling can prevent the waste of potentially useful
                        materials and reduce the consumption of fresh raw materials, thereby reducing: energy usage, air
                        pollution (from incineration), and water pollution (from landfilling). Recycling has been a
                        common practice for most of human history, with recorded advocates as far back as Plato in the
                        fourth century BC.[citation needed] During periods when resources were scarce and hard to come
                        by, archaeological studies of ancient waste dumps show less household waste (such as ash, broken
                        tools, and pottery)—implying more waste was being recycled in the absence of new material.

                    </mat-card-subtitle>

                    <br>

                    <mat-card-title>How Do I Recycle?</mat-card-title>

                    <mat-card-subtitle class="articletext">
                        Paper makes up 25 percent of municipal solid waste (trash) generated each year, more than any
                        other material. Americans recycled nearly 66 percent of the paper they used in 2017. This
                        recovered paper is used to make new paper products, saving trees and other natural resources.
                        Most community or office recycling programs accept paper and paper products. Check what your
                        community or office program accepts before you put it in the bin. When you go shopping, look for
                        products that are made from recycled paper. More than 35 million tons of plastics were generated
                        in the United States in 2017, which was greater than 13 percent of the waste stream. Only 8.4
                        percent of plastics were recycled in 2017. Some types of plastics are recycled much more than
                        others. Most community recycling programs accept some, but not all, types of plastics. Look for
                        products made from recycled plastic materials.
                    </mat-card-subtitle>

                    <mat-card-actions>
                        <button class="quiz" mat-raised-button>Make Quiz</button>
                    </mat-card-actions>


                </mat-card>

            </mat-card>


        </mat-tab>

    </mat-tab-group>