.mat-toolbar{
  background-color: rgba(0, 85, 150,0.6);
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
}

img{
  height: 100%;
  width: 20%;
}

.signupButtons{
  text-align: right;
}

.example-spacer {
  flex: 1 1 auto;
}




