<mat-toolbar>
  <mat-toolbar-row>
  <img src="assets/E_SDG_logo_without_UN_emblem_horizontal_Transparent_WEB.png">
  <button mat-button routerLink="">Home</button>
  <button mat-button>About</button>
  <button mat-button>Quiz</button>
  <button mat-button routerLink="learn">Learn</button>
  <button mat-button routerLink="support">Support</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="login">Log In</button>
    <button mat-button routerLink="sign_up">Sign Up</button>
  </mat-toolbar-row>


</mat-toolbar>
