.mat-toolbar{
  background-color: rgba(0, 85, 150,1);
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
}

.logo {
  width: 35px;
  height: 100%;
  margin-top: 5px;


}
.menubutton {
  color: white;
}

.logotext{
  font-family: Sedgwick Ave;
  color: white;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
}


img{
  height: 100%;
  width: 20%;
}

.signupButtons{
  text-align: right;
}

.example-spacer {
  flex: 1 1 auto;
}




