<mat-toolbar>
  <mat-toolbar-row>

  <button class="menubutton" mat-button routerLink="">Home</button>
  <button class="menubutton" routerLink="about" mat-button>About</button>  <button mat-button>Quiz</button>
  <button class="menubutton" mat-button routerLink="learn">Learn</button>
  <button class="menubutton" mat-button routerLink="shop">Shop</button>
    <span class="example-spacer"></span>
    <button class="menubutton" mat-button routerLink="login" *ngIf="!isLoggedIn()">Log In</button>
    <button class="menubutton" mat-button routerLink="" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    <button class="menubutton" mat-button routerLink="sign_up" *ngIf="!isLoggedIn()">Sign Up</button>
  </mat-toolbar-row>


</mat-toolbar>
