
<mat-card class="items">
<div class="grid">
<mat-card class="itemcard" *ngFor ="let item of item" >

  <img mat-card-image  src="{{ item.picture }}"
  class="itemimg">

  <mat-card-title> {{ item.itemName }} </mat-card-title>
  <mat-card-subtitle id="description"> {{ item.description }} </mat-card-subtitle>
  <mat-card-title id="price"> {{ item.price }} kr</mat-card-title>



  <mat-card-actions>
    <button  mat-raised-button matTooltip="Add product to cart"
    matTooltipShowDelay="700"
    matTooltipHideDelay="200" (click)="addToCart(item.itemId)"> <span class="material-icons"> add_shopping_cart</span> Add to card</button>
  </mat-card-actions>

</mat-card>
</div>
</mat-card>
