
<mat-card class="items">
<div class="grid">
<mat-card class="itemcard" *ngFor ="let item of item" >

  <img mat-card-image  src="{{ item.picture }}"
  class="itemimg">

  <mat-card-title> {{ item.itemName }} </mat-card-title>
  <mat-card-subtitle> {{ item.description }} </mat-card-subtitle>
  <mat-card-title> {{ item.price }} </mat-card-title>



  <mat-card-actions>
    <button class="buy" mat-raised-button (click)="addToCart(item.itemId)">Buy</button>
  </mat-card-actions>

</mat-card>
</div>
</mat-card>
