<div class="cart-page">
    <mat-table [dataSource]="data">

         <ng-container matColumnDef="checked">
          <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <mat-checkbox  [checked]="element.checked" (change)="onChange($event, element)"></mat-checkbox>
            </mat-cell>
         </ng-container>

         <ng-container matColumnDef="picture">
          <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><img src="{{element.Picture}}" alt="{{element.ItemName}}" width="50" height="50"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemName">
            <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.ItemName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.Description}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.Price}} kr</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
           [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
    </mat-table>
    <mat-card-actions>
      <button class="deleteAll" mat-raised-button (click)="deleteCheckedItems(deleteList)">Delete selected</button>
    </mat-card-actions>
    <h1>{{totalPrice}} kr</h1>
</div>

