<div class="cartContainer">
<div class="cart-page">
    <mat-table [dataSource]="data">

         <ng-container matColumnDef="checked">

          <mat-header-cell *matHeaderCellDef>Select</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox  [checked]="element.checked"  (change)="onChange($event, element)"></mat-checkbox>

            </mat-cell>
         </ng-container>

         <ng-container matColumnDef="picture">
          <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><img src="{{element.Picture}}" alt="{{element.ItemName}}" width="50" height="50"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemName">
            <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.ItemName}}</mat-cell>
          </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
             <mat-cell mat-cell *matCellDef="let element">{{element.Price}}</mat-cell>
        </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.Description}}</mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
           [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>


    </mat-table>
  <div class="actions">
    <div class="deleteAll">
    <button class="deleteAll" mat-raised-button color="warn" matTooltip="Delete products"
      matTooltipShowDelay="700"
      matTooltipHideDelay="200" (click)="deleteCheckedItems()">Delete selected</button>
    </div>

  <div class="price">
    <h2>Total: <span style="color:rgba(0, 85, 150,1); margin-right: 2rem;">{{totalPrice}} kr</span></h2>
    <div>

    <button  class="payButton" mat-raised-button routerLink="/shop">Continue shopping</button>
      <button  mat-raised-button routerLink="/thanks">Pay now</button>
    </div>


  </div>
  </div>

