.navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;

}

.spacer{
  margin-top: 50px;
  margin-bottom: 10px;
}

.pageContent{
  background-color: #a7beda;
  overflow-x: hidden;
}


