.signUp{
  margin-top: 5%;
}

::ng-deep.mat-snack-bar-container {
  background-color: white;
  color: black;
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button {
  color: rgba(0, 85, 150,1);
}
