<div class="test">




    <mat-card class="thankscard">



            <img src="assets/betterFuture3.png" alt="Better Future Logo" class="thanksimg">

            <mat-card-title>Thanks for buying out products!</mat-card-title>
            <div class="col-md-5 mt-md-0 mt-3">

            </div>

            <mat-card-subtitle class="thankstext">Your involvement is critical to our success and making change in our
                enviroment. <br>Share this page with your family and friends.
                Thanks for the suport! </mat-card-subtitle>




            <br>




            <mat-card-actions>
                <button class="quiz" mat-raised-button routerLink=""> <span class="material-icons"> home </span> Return to home page</button>
            </mat-card-actions>


        </mat-card>

</div>
