.cardImage{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*padding-bottom: 20%;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://images2.imgbox.com/14/4c/tF3MUVME_o.jpg");
}


