<div class="homePage">
  <div class="cardImage">



    <div class="test">

      <div class="hero-text">

        <h2>WE HELP TOGETHER</h2>

        <p class="description">
          <br>
          We created a website where people can learn how they can contribute to saving the environment. We have provided two ways that you can explore on our page: <br><br>

          Learn about the most harmful things to the environment and how you can include them in your everyday life. You can test what you have learned with our easy quiz.<br><br>


          Shop from our catalog of eco-friendly products – part of the money goes to charities we support.
        </p>


        <mat-card-actions>
          <button mat-button class="quiz" matTooltip="Check out products"
          matTooltipShowDelay="700"
          matTooltipHideDelay="200" routerLink="shop">Shop in our store</button>
        </mat-card-actions>
      </div>

      </div>






  </div>




  <div class="grid">

    <mat-card class="featurecard" matTooltip="Go to sign up"
    matTooltipShowDelay="700"
    matTooltipHideDelay="200" routerLink="sign_up">


      <mat-card-title> Signup </mat-card-title>

      <img mat-card-image  src="assets/images/signup.png"
      class="featureimg">


      <mat-card-subtitle>Sign up to shop from eco-friendly catalog. We donate 40% of the profit!</mat-card-subtitle>

    </mat-card>


    <mat-card class="featurecard" routerLink="learn" matTooltip="Go to articles"
    matTooltipShowDelay="700"
    matTooltipHideDelay="200" >


      <mat-card-title> Learn </mat-card-title>

      <img mat-card-image  src="assets/images/learn.png"
      class="featureimg">


      <mat-card-subtitle>Check our articles about the problems facing our planet.</mat-card-subtitle>

    </mat-card>

    <mat-card class="featurecard" routerLink="quiz" matTooltip="Go to quiz"
    matTooltipShowDelay="700"
    matTooltipHideDelay="200">


      <mat-card-title> Quiz </mat-card-title>

      <img mat-card-image  src="assets/images/quiz.png"
      class="featureimg">


      <mat-card-subtitle>Test yourself! Can you identify what helps the environment?</mat-card-subtitle>

    </mat-card>


    <mat-card class="featurecard" routerLink="shop" matTooltip="Check out products"
    matTooltipShowDelay="700"
    matTooltipHideDelay="200" >


      <mat-card-title> Shop </mat-card-title>

      <img mat-card-image  src="assets/images/bonus.png"
      class="featureimg">


      <mat-card-subtitle>Find products made out of reusable materials that help us produce less waste!</mat-card-subtitle>

    </mat-card>



    </div>






</div>


