<div class="test">

<div class="hero-text">

  <h2>WE HELP TOGETHER</h2>

  <p class="description">
    <br>
    We created a website where people can learn how they can contribute to saving the environment. We have provided two ways that you can explore on our page: <br><br>

    Learn about the most harmful things to the environment and how you can include them in your everyday life. You can test what you have learned with our easy quiz.<br><br>


    Shop from our catalog of eco-friendly products – part of the money goes to charities we support.
  </p>


  <mat-card-actions>
    <button mat-button class="quiz" routerLink="shop">Shop in our store</button>
  </mat-card-actions>
</div>

</div>
