<div class="cta">
<div class="px-md-5 text-center white-text grey p-5 z-depth-1" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-8 col-md-10">
      <i class="fas fa-gem fa-2x mb-4"></i>
      <h3 class="font-weight-bold">Call to action</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>
      <button mat-button>View project</button>
    </div>
  </div>
</div>
</div>
